<body>
<br/> <br/> <br/>
<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-5">
        <h3>Insira os dados do seu animal</h3>
        <p>
        Nome: <br/>
        <input #campoNome="ngModel" type="text" pInputText [(ngModel)]="animal.nome"/> <br/>
        </p>
        <p>
        Seu animal é: <br/>
        <p-radioButton label="Cachorro" value="cachorro" [(ngModel)]="animal.tipo"></p-radioButton> <br/>
        <p-radioButton label="Gato" value="gato" [(ngModel)]="animal.tipo"></p-radioButton> <br/>
        </p>
        <p>
        Faixa etária: <br/>
        <p-radioButton label="Filhote" value="filhote" [(ngModel)]="animal.faixaEtaria"></p-radioButton> <br/>
        <p-radioButton label="Adulto" value="adulto" [(ngModel)]="animal.faixaEtaria"></p-radioButton> <br/>
        </p>
        <p>
        Sexo: <br/>
        <p-radioButton label="Feminino" value="feminino" [(ngModel)]="animal.sexo"></p-radioButton> <br/>
        <p-radioButton label="Masculino" value="masculino" [(ngModel)]="animal.sexo"></p-radioButton> <br/>
        </p>
        <p>
        Cor: <br/>
        <input type="text" pInputText [(ngModel)]="animal.cor"/> <br/>
        </p>
        <p>
        Descrição: <br/>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="animal.descricao"></textarea>
        </p>
        <div class="ui-g-4"></div>

        <button pButton type="button" label="Salvar" (click)="salvar()" class="button ui-button-success"></button>
 
    </div>
    <div class="ui-g-4"></div>
</div>
</body>