<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-5">
        <p-growl [(value)]="msgs"></p-growl>  
        <h4><p>Insira os dados do seu animal</p></h4>
        <p>
        Nome: <br/>
        <input #campoNome="ngModel" type="text" pInputText [(ngModel)]="animal.nome" size="40"/> <br/>
        </p>
        <p>
        Tipo de Animal: <br/>
        <p-dropdown [options]="tipoDeAnimal" [(ngModel)]="animal.tipo"></p-dropdown> <br/>
        </p>
        <p>
        Idade: <br/>
        <p-dropdown [options]="idade" [(ngModel)]="animal.idade"></p-dropdown> <br/>
        </p>
        <p>
        Sexo: <br/>
        <p-dropdown [options]="sexo" [(ngModel)]="animal.sexo"></p-dropdown> <br/>
        </p>
        <p>
        Porte: <br/>
        <p-dropdown [options]="porte" [(ngModel)]="animal.porte"></p-dropdown> <br/>
        </p>
        <p>
        Cor: <br/>
        <input type="text" pInputText [(ngModel)]="animal.cor" size="40"/> <br/>
        </p>
        <p>
        Descrição:
        <br/>
        <textarea [rows]="5" [cols]="40" pInputTextarea autoResize="autoResize" [(ngModel)]="animal.descricao" placeholder="Descreva o máximo que puder sobre seu animal"></textarea>
        </p>
        
        <div class="ui-g-4"></div>
        <button pButton type="button" label="Salvar" (click)="salvar()" class="button ui-button-success ui-growl-container"></button>
    </div>    
    
    <div class="ui-g-4"></div>
</div>
