<div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
        <h5 align="center">Pedidos de adoção de ...</h5>
        <p-table [columns]="cols" [value]="listaDePedidos" [(selection)]="animalSelecionado"
            (onRowSelect)="onRowSelect($event)" [rows]="15">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Usuário</th>
                    <th>Status de adoção</th>
                    <th width="70px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
                <tr>
                    <td>{{pedido.idUsuarioPedido}}</td>
                    <td></td>
                    <td><button pButton type="button" icon="fas fa-check" class="ui-button-success" (click)="permitirAdocao()"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>