<div class="ui-g">
  <div class="ui-g-3"></div>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="ui-g-5">
    
      <h4><p>Pedidos de adoção</p></h4>
      <p-table [columns]="cols" [value]="listaDePedidos">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns">
                      {{col.header}}
                  </th>
                  <th style="width:4em"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                  </td>
                  <td>
                    <button pButton icon="fas fa-check" class="ui-button-success" (click)="aceitar()"></button>
                    <button pButton icon="fas fa-times" class="ui-button-danger" (click)="rejeitar()"></button>  
                </td>                 
              </tr>
          </ng-template>
      </p-table>

    </div>
  <div class="ui-g-2"></div>
</div>