<div class="ui-g-2">
</div>
<div class="ui-g-8 data-view">
    <p-dataView #dv [value]="listaDeAnimais" [rows]="20" paginatorPosition="both" filterBy="brand" [sortField]="sortField" [sortOrder]="sortOrder">
        <p-header>
            Animais disponíveis para adoção
            <!-- FILTRO 
          <div class="ui-helper-clearfix">
              <div class="ui-g">
               <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Filtro" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
                </div> 
                </div>
                -->
        </p-header>
        <ng-template let-animal pTemplate="listItem">
            <div class="ui-g" style="padding: 20px;border-bottom: 1px solid #d9d9d9">
                <!-- PARA COLOCAR IMAGEM
              <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/showcase/images/demo/car/{{car.brand}}.png">
            </div>  -->
                <div class="ui-g-6  animal-detalhe">
                    <div class="ui-g">
                        <div class="ui-g-6">Nome: <b>{{animal.nome}}</b></div>
                        <div class="ui-g-10 ui-sm-6"></div>

                        <div class="ui-sm-6">Tipo: <b>{{animal.tipo}}</b></div>
                        <div class="ui-g-10 ui-sm-6"></div>

                        <div class="ui-sm-6">Idade: <b>{{animal.idade}}</b></div>
                        <div class="ui-g-10 ui-sm-6"></div>

                        <div class="ui-sm-6">Sexo: <b>{{animal.sexo}}</b></div>
                        <div class="ui-g-10 ui-sm-6"></div>

                        <div class="ui-sm-6">Porte: <b>{{animal.porte}}</b></div>
                        <div class="ui-g-10 ui-sm-6"></div>
                    </div>
                </div>
                <div class="ui-g-6">
                    <button pButton type="button"[routerLink] = "['/feed/visualizar-animal', animal.id]" class="button" label="Veja mais"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>