<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-5">
        <h4><p>Meu perfil</p></h4>
        Nome:
        <br/>
        Email:
        <br/>
        <input #campoEmail="ngModel" type="text" pInputText [(ngModel)]="usuario.email" />
        <br/>
        Senha: 
        <br/> 

        <div class="ui-g-4"></div>
        <button pButton type="button" label="Salvar" (click)="salvar()" class="button ui-button-success ui-growl-container"></button>
      </div>
    <div class="ui-g-2"></div>
  </div>
