<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-5">
        <h4>
            <p>Meu perfil</p>
        </h4>
        <div>
            <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                <p>
                    Nome:
                    <input type="text" size="40" pInputText [(ngModel)]="usuario.nome" />
                    <b>{{usuario.nome}}</b>
                </p>
                <p>
                    Email:
                    <input type="text" size="40" pInputText [(ngModel)]="usuario.email" />
                    <b>{{usuario.email}}</b>
                </p>
                <p>
                    Senha:
                    <input type="text" size="40" pInputText [(ngModel)]="usuario.senha" />
                    <b>{{usuario.senha}}</b>
                </p>
                <div class="ui-g-8"></div>
                <button pButton type="button" label="Salvar" (click)="salvar()" class="button ui-button-success ui-growl-container"></button>
            </div>
        </div>
    </div>
</div>