<div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">

        <p-table [columns]="cols" [value]="listaDeAnimais" [rows]="15">
            <ng-template pTemplate="caption">
                Meus animais
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width:e5m">Status de adoção</th>
                    <th style="width:4em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-animal>
                <tr>
                    <td>{{animal.nome}}</td>
                    <td>{{animal.tipo}}</td>
                    <td></td>
                    <td>
                        <button pButton type="button" icon="far fa-edit" class="ui-button-secondary" [routerLink]="['/feed/meus-animais-edit', animal.id]"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="fa fa-plus" class="button" [routerLink]="['/feed/adicionar-animal']"
                        label="Adicionar animal"></button>
                </div>
            </ng-template>
        </p-table>
    </div>
    <div class="ui-g-2"></div>
</div>