<div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-5">
        <h4><p>Detalhe do animal</p></h4>
        <p-card [style]="{width: '360px'}">               
                Nome: {{id}}
                <br/>       
                Tipo de animal:
                <br/>
                Idade:
                <br/>
                Sexo:
                <br/>
                Porte:
                <br/>
                Cor:
                <br/>
                Descrição:
                <br/>
        </p-card>
                <div class="ui-g-4"></div>
                <button pButton type="button" label="Adotar" (click)="adotar()" class="button ui-button"></button>

               

        </div>
        <div class="ui-g-2"></div>
      </div>