<div class="ui-g">
        <div class="ui-g-4"></div>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g-5">
        <h4><p>Detalhe do animal</p></h4>
        <p-card [style]="{width: '360px'}">               
                Nome: <b>{{animal.nome}}</b> 
                <br/>       
                Tipo de animal: <b>{{animal.tipo}}</b>
                <br/>
                Idade: <b>{{animal.idade}}</b>
                <br/>
                Sexo: <b>{{animal.sexo}}</b>
                <br/>
                Porte: <b>{{animal.porte}}</b>
                <br/>
                Cor: <b>{{animal.cor}}</b>
                <br/>
                Descrição: <b>{{animal.descricao}}</b>
                <br/>
        </p-card>
                <div class="ui-g-6"></div>
                <button pButton type="button" label="Adotar" (click)="adotar()" class="button ui-button"></button>
           </div>
        <div class="ui-g-2"></div>
      </div>