<div class="ui-g">
        <div class="ui-g-4"></div>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g-5">
                <h4>
                        <p>Detalhe do animal</p>
                </h4>
                <p-card [style]="{width: '400px'}">
                        Nome: <b>{{animal.nome}}</b>
                        <br />
                        Tipo de animal: <b>{{animal.tipo}}</b>
                        <br />
                        Idade: <b>{{animal.idade}}</b>
                        <br />
                        Sexo: <b>{{animal.sexo}}</b>
                        <br />
                        Porte: <b>{{animal.porte}}</b>
                        <br />
                        Cor: <b>{{animal.cor}}</b>
                        <br />
                        Descrição: <b>{{animal.descricao}}</b>
                        <br /><br />
                        <button pButton type="button" label="Adotar" (click)="adotar()" class="button ui-button"></button>
                </p-card>
                <div class="ui-g-6"></div>
        </div>
        <div class="ui-g-2"></div>
</div>
<br /> 
<div align="center" class="comentarios">
        <p-fieldset legend="Enviar comentários">
                <textarea [rows]="5" [cols]="50" pInputTextarea autoResize="autoResize" [(ngModel)]="comentario.texto"
                        placeholder="Caso queira fazer um comentário, escreva-o aqui"></textarea> <br />
                <button pButton type="button" label="Enviar" (click)="enviar()" class="ui-button-success"></button>
                <br />
        </p-fieldset>
        <br/><br/>
        <div align="center" class="coment">
                <p-table [columns]="cols" [value]="listaDeComentarios" [rows]="20">
                                <ng-template pTemplate="caption">
                                                Comentários
                                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                                <tr>
                                        <td>Usuário</td>
                                        <td>Comentário</td>
                                        <td style="width:4em"></td>
                                </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-comentario>
                                <tr>
                                        <td>{{comentario.idUsuario}}</td>
                                        <td>{{comentario.texto}}</td>
                                        <td>
                                                <button pButton type="button" icon="fas fa-trash" class="ui-button-danger" (click)="showDialog()"></button>
                                        </td>
                                </tr>
                        </ng-template>
                </p-table>
        </div>
        <p-dialog header="Confirmação" [(visible)]="display" [modal]="true" [responsive]="true" [width]="400" [minWidth]="200"
        [minY]="70">
        <span>Tem certeza que quer deletar esse comentário?</span>
        <p-footer>
            <button type="button" class="ui-button-danger" pButton icon="fa-check" (click)="apagarComentario()" label="Sim"></button>
            <button type="button" class="ui-button-success" pButton icon="fa-close" (click)="display=false" label="Não"></button>
        </p-footer>
    </p-dialog>
</div>