.container {
    width: 100vw;
    height: 25vh;
    background: #F5DEB3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
.rodape {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.custombar1 .ui-scrollpanel-bar {
    opacity: 1;
    transition: background-color .3s;
    }
.botao{
    background-color: #FF69B4;
    border: #FF69B4;
    color: white;
    width: 300px
}
.frase{
    font-style: oblique;
    font-weight: 790;
    font-size: 30px;
}