<body>
<div class="ui-g">
    <div class="login ui-g-12 ui-g-nopad">
        <div class="ui-g-4">logo</div>
        <div class="ui-inputgroup">
        <form #formLogin="ngForm">
        <table id="login">
        <tr>    
            <th> Email </th>
        <td>
            <input #campoEmail="ngModel" type="text" pInputText [(ngModel)]="usuario.email" name="emailEntrar"/>
        </td>
        <th> Senha </th>
        <td>
            <input #campoSenha="ngModel" type="password" pInputText [(ngModel)]="usuario.senha" name="senhaEntrar"/>
        </td>
        <td>
            <button pButton type="button" label="Entrar" (click)="entrar()" class="ui-button-success"></button>
        </td>
        </tr>
        </table>
        </form>
        </div>
    </div>
        <div class="ui-g-5 cadastro"></div>
           <div class="ui-inputgroup">
            <form #formCadasrtro="ngForm">
            <table id="cadastro">
            <tr></tr>
            <tr>  
                <th><h3>Criar nova conta</h3></th>
            </tr>
            <tr>  
                <th> Nome </th>
            </tr><tr>
            <td>
                <input #campoNome="ngModel" type="text" pInputText [(ngModel)]="usuarioCadastro.nome" name="nome"/>
            </td></tr>
            <tr>
                <th> Email </th>
            </tr><tr>
            <td>
                <input #campoEmailNovo="ngModel" type="text" pInputText [(ngModel)]="usuarioCadastro.email" name="email"/>
            </td></tr><tr>
            <th> Senha </th>
            </tr><tr>
            <td>
                <input #campoSenhaNova="ngModel" type="password" pInputText [(ngModel)]="usuarioCadastro.senha" name="senha"/>
            </td></tr><tr>
            <td>
                <button pButton type="button" label="Salvar" (click)="salvar()" class="button ui-button"></button>
            </td></tr>
            </table>
            </form>
        </div>
</div>
</body>