<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4"><img width="400" alt="AdoPet Logo" src="assets/logoAdoPet.png"></div>
    <div class="ui-g-4"></div>
</div>
<div class="panel ui-g-8 ui-g-nopad">
    <div class="ui-g-1"></div>
    <div class="ui-g-6">
        <p class="frase" align="justify">

            Adotar é encher de esperanças um coração que antes não sabia o que era carinho.
            Quem cuida faz por amor. Quem adota também.
        </p>

    </div>
</div>
<div class="panel ui-g-4">
    <h3> Entre usando: </h3>
    <br>
    <tr>
        <td>
            <button type="button" class=" botao btn btn-block" (click)="signInWithGoogle()">
                <i class="fa fa-google" aria-hidden="true"></i>
                Login com o Google
            </button>
        </td>
    </tr>
</div>