<div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4"><img width="400" alt="AdoPet Logo" src="assets/logoAdoPet.png"></div>
        <div class="ui-g-4"></div>
    </div>
<div class="panel ui-g-8 ui-g-nopad">
    <div class="ui-g-1"></div>
    <div class="ui-g-6">
       <p class="frase">FRASE TOP</p> 
        <!--<p-scrollPanel [style]="{width: '100%', height: '300px'}">
            <div style="text-align:justify;padding:1em;line-height:1.5">
                Ao entramos nas redes sociais, nos deparamos com postagens em que animais foram encontrados na rua, muitas vezes a pessoa
                que o recuperou não quer ou não pode cuidar do animal e deseja doá-lo, ou mesmo os casos em que pessoas têm
                animais, e estes tiveram filhotes, e o dono quer doar. Ao mesmo tempo, no extremo oposto, existem situações
                em que as pessoas têm o desejo de adotar animais e não sabem como proceder. Além disso, um outro fator que
                caracteriza esta situação, é a expressiva quantidade de animais abandonados que fazem parte das paisagens
                urbanas. No geral, eles somaram 30 milhões no Brasil em 2011, de acordo com a Organização Mundial da Saúde.
                Desta forma, nota-se a importância de conectar animais aos seus potenciais donos.
            </div>
        </p-scrollPanel> -->
    </div>
</div>
<div class="panel ui-g-4">
    <h3> Entre usando: </h3>
    <br>
    <tr>
        <td>
            <button type="button" class=" botao btn btn-block" (click)="signInWithGoogle()">
                <i class="fa fa-google" aria-hidden="true"></i>
                Login com o Google
            </button>
        </td>
    </tr>
</div>
<!--<div class="rodape ui-xl-offset-0">
    Rodapé
</div> -->
