<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-6">
      <h4>
          <p>Editar {{animal.nome}}</p>
      </h4>
  </div>

  <div class="ui-g-3"></div>
  <div class="ui-g-3">
      <p>
          Nome:
          <br />
          <input #campoNome="ngModel" type="text" pInputText [(ngModel)]="animal.nome" />
          <br />
      </p>
  <!--    <p>
          Seu animal é:
          <br />
          <p-radioButton label="Cachorro" value="Cachorro" [(ngModel)]="animal.tipo"></p-radioButton>
          <br />
          <p-radioButton label="Gato" value="Gato" [(ngModel)]="animal.tipo"></p-radioButton>
          <br />
      </p>
      <p>
          Idade:
          <br />
          <p-radioButton label="Filhote" value="Filhote" [(ngModel)]="animal.idade"></p-radioButton>
          <br />
          <p-radioButton label="Adulto" value="Adulto" [(ngModel)]="animal.idade"></p-radioButton>
          <br />
      </p>
      <p>
          Sexo:
          <br />
          <p-radioButton label="Femea" value="Fêmea" [(ngModel)]="animal.sexo"></p-radioButton>
          <br />
          <p-radioButton label="Macho" value="Macho" [(ngModel)]="animal.sexo"></p-radioButton>
          <br />
      </p>
  </div>
  <div class="ui-g-3">
      <p>
          Porte:
          <br />
          <p-radioButton label="Pequeno" value="Pequeno" [(ngModel)]="animal.porte"></p-radioButton>
          <br />
          <p-radioButton label="Médio" value="Médio" [(ngModel)]="animal.porte"></p-radioButton>
          <br />
          <p-radioButton label="Grande" value="Grande" [(ngModel)]="animal.porte"></p-radioButton>
          <br />
      </p> -->
      <p>
          Cor:
          <br />
          <input type="text" pInputText [(ngModel)]="animal.cor" />
          <br />
      </p>
      <p>
          Descrição:
          <br />
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="animal.descricao"></textarea>
      </p>

      <br/>
     <!-- <div class="ui-g-7"></div> -->
      <button type="button" pButton icon="fa fa-check" (click)="atualizar()" label="Salvar" class="button ui-button-success"></button>
      <button type="button" pButton icon="fa fa-close" (click)="apagar()" label="Apagar" class="button"></button>
    </div>
  <div class="ui-g-4"></div>
</div> -->